@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Inter', sans-serif;    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.hero {
    height: 80vh;
    width: 100%;
    position: relative;
    background:url('./media/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.hero-pagina-anuncio {
    height: 30vh;
    width: 100%;
    position: relative;
}

.hero_logo_anuncio {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5%;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    z-index: 9999;
}

.hero_admin_anuncio {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5%;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    z-index: 9999;
}


@media (max-width: 768px) {
    .hero {
        height: 100vh;
        width: 100%;
        position: relative;
        background:url('./media/fondo.jpeg');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
    }
}

.hero_logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5%;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;
    z-index: 9999;
}

.hero_login {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5%;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;
    z-index: 9999;
}

.hero_title {
    position: absolute;
    bottom: 48%;
    right: 10%;
    opacity: 0;
}

.hiro-callToAction {
    position: absolute;
    bottom: 5%;
    left: 45%;
    opacity: 0;
}

@media (max-width: 768px) {
    .hiro-callToAction {
        position: absolute;
        bottom: 15%;
        left: 35%;
        opacity: 0;
    }
}

.hero_description {
    position: absolute;
    bottom: 43%;
    right: 10%;
    opacity: 0;
}

@media (max-width: 768px) {
    .hero_title {
        position: absolute;
        bottom: 48%;
        left: 10%;
        opacity: 0;
    }
    
    .hero_description {
        position: absolute;
        bottom: 30%;
        left: 10%;
        opacity: 0;
    }
}

.hero_items {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5%;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    z-index: 9999;
}

.hero_animation .hero_logo {
    color: coral;
    padding: 2%;
}

.hero_animation .hero_items {
    color: coral;
    padding: 2%;
}

.hero_animation .hero_login {
    color: coral;
    padding: 2%;
}


.cover {
    height: 60vh;
    width: 100%;
    background-image: url('./media/fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: coral;
}

.cover-anuncio {
    height: 60vh;
    width: 100%;
    background-image: url('./media/fondo4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: coral;
}



.texto-subir {
    margin-top: 100px;
    text-shadow: 3px 3px 8px black;
}
.btn-subir {
    background-color: coral;
    color: white;
}
#registerSidebar {
    height: 100vh;
    width: 50%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

@media (max-width: 768px) {
    #registerSidebar {
        height: 100vh;
        width: 100%;
        background-color: whitesmoke;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    }
}
#loginSidebar {
    height: 100vh;
    width: 50%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

@media (max-width: 768px) {
    #loginSidebar {
        height: 100vh;
        width: 100%;
        background-color: whitesmoke;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    }
}
.active {
    right: 0% !important;
    
}

.card-search {
    background-color: #fff;
}

.card-features {
    border-left: 2px solid coral !important;
}

.card_category{
    width: 12rem;
    cursor: pointer;
}

.subrayado{
    /* border-bottom: 3px solid coral !important; */
    background-image: linear-gradient(coral, coral);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: .2s;
      

}
.subrayado:hover, .subrayado:focus{
    background-size: 100% 2px;
    transition: .3s;
    
}
    
.card_timer{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: coral;
}

.blue-links {
    text-decoration: none;
    color: black;
}

.info-vendedor {
    height: 500px;
    width: 300px;
    border-top: 5px solid coral ;
    border-radius: 20px;
    padding: 20px;
}
.coral {
    color: coral;
}
.btn-vendedor {
    background-color: coral;
    color: white;
    border-radius: 20px;
    display: inline-block;
}

.avatar {
    height: 100px;
    width: 100px;
    background-image: url("./media/avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}